@page
@using System.Security.Claims
@using Cebuella.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Cebuella.Pages.Manage
@{
    ViewData["Title"] = "Manage Users";
    var role = User.FindFirst(ClaimTypes.Role)?.Value;
}

<div class="container mt-4">
    <h2>Manage Users @if(role == "Admin"){<span>(Admin)</span>}</h2>

    <!-- Add User Form -->
    <form method="POST" class="mb-4">
        <div class="input-group">
            <button type="reset" onclick="document.getElementById('reminder').submit()" class="btn btn-success">Remind
                Daily Reports
            </button>
            <input asp-for="Username" required class="form-control" placeholder="Enter username"/>
            <input asp-for="Action" value="0" type="hidden"/>
            <button type="submit" asp-for="Action" value="0" class="btn btn-primary">Add</button>
        </div>
        <div class="form-text text-muted" style="text-align: end">
            The default password will be: <strong>username_2025</strong>
        </div>
    </form>

    <form method="POST" id="reminder">
        <input asp-for="Action" value="4" type="hidden"/>
    </form>

    <!-- Users Table -->
    <div class="table-responsive">
        <table class="table" style="min-width: max-content;">
            <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Unsolved Tasks</th>
                <th>Channel ID</th>
                <th>Actions</th>
                <th>Order</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Users.Count; i++)
            {
                var u = Model.Users[i];
                <tr>
                    <td class="@(Model.SubmittedReport[i] ? "text-success" : "text-danger")">@u.Username</td>
                    @if (u.Type == UserType.Student)
                    {
                        <td><a href="/Student/@u.Username">@u.FirstName @u.LastName</a></td>
                    }
                    else
                    {
                        <td>@u.FirstName @u.LastName</td>
                    }
                    <td>@Model.UnsolvedTasks[i]</td>
                    <td>
                        @if (u.Type == UserType.Student)
                        {
                            <form method="POST">
                                <div class="input-group">
                                    <input asp-for="Username" value="@u.Username" type="hidden"/>
                                    <input asp-for="DiscordId" value="@u.DiscordChannel" class="form-control"/>
                                    <input asp-for="Action" value="3" type="hidden"/>
                                    <button type="submit" class="btn btn-info btn-sm">Change</button>
                                </div>
                            </form>
                        }
                    </td>
                    <td>
                        @if (u.Type == UserType.Student)
                        {
                            <form method="POST" class="d-inline">
                                <input asp-for="Username" value="@u.Username" type="hidden"/>
                                <input asp-for="Action" value="2" type="hidden"/>
                                <button type="submit" class="btn btn-warning btn-sm">&nbsp;&nbsp;&nbsp;Make&nbsp;Coach&nbsp;&nbsp;&nbsp;</button>
                            </form>
                        }else if (u.Type == UserType.Coach && role == "Admin")
                        {
                            <form method="POST" class="d-inline">
                                <input asp-for="Username" value="@u.Username" type="hidden"/>
                                <input asp-for="Action" value="5" type="hidden"/>
                                <button type="submit" class="btn btn-primary btn-sm">Make&nbsp;Student</button>
                            </form>
                        }
                        @if ((u.Type == UserType.Student || u.Type == UserType.Coach) && role == "Admin")
                        {
                            <form method="POST" class="d-inline">
                                <input asp-for="Username" value="@u.Username" type="hidden"/>
                                <input asp-for="Action" value="1" type="hidden"/>
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        }
                    </td>
                    <td>
                        <form method="POST" class="d-inline">
                            <input asp-for="Username" value="@u.Username" type="hidden"/>
                            <input asp-for="Action" value="6" type="hidden"/>
                            <button type="submit" class="btn btn-success btn-sm"><i class="fa-solid fa-arrow-up"></i></button>
                        </form>
                        <form method="POST" class="d-inline">
                            <input asp-for="Username" value="@u.Username" type="hidden"/>
                            <input asp-for="Action" value="7" type="hidden"/>
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-arrow-down"></i></button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>